
.container-nd{
  background-color: #343434;
  color: #fff;
  padding-top: 40px;
}
hr{ 
  width: 50px;
  margin: 0px auto;
}

.content-type{
  display: flex;
}

.content-item{
  flex: 1;
  width: 100px;
  background-color: #626262;
  margin: 10px;
  text-align: center;
}
