.works{
	background-color: dodgerblue;
	padding: 50px 0px;
}

.container-works{
	color: #ddd;
	padding-left: 160px;
	padding-top: 120px;
}

.contains--work{
	font-size: 60px;
	border: 3px solid #ddd;
	text-align: center;
}

button{
	border: 1px solid #ddd;
	font-size: 16px;
	background-color: transparent;
	margin-bottom: 15px; 
}

button.active{
	border: 1px solid #ddd;
	font-size: 16px;
	background-color: transparent;
}

.icons{
	padding-top: 25px;
}

