.bgimage {
  width:100%;
  height:100vh;
  background: url('../../images/heroimage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}


.bgimage h2 {
  color:white;
  text-shadow:2px 2px #333;
}

.bgimage h4 {
  color:white;
  text-shadow:2px 2px #333;
}